{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="POST">
    <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
        <input type="text" name="business_name" class="form-control" placeholder="Business Name" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<p class="text-danger">{{ get_flashed_messages() }}</p>
{% endblock %}
